<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 table"
  *ngIf="dataSource?.filteredData.length && !loading"
>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('country')"
    >
      <div [ngClass]="ngClassArg('country')">COUNTRY</div>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.country }}</td>
  </ng-container>

  <ng-container matColumnDef="newConfirmed">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('newConfirmed')"
    >
      <div [ngClass]="ngClassArg('newConfirmed')">NEW CONFIRMED</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.newConfirmed | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalConfirmed">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('totalConfirmed')"
    >
      <div [ngClass]="ngClassArg('totalConfirmed')">TOTAL CONFIRMED</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalConfirmed | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="newDeaths">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('newDeaths')"
    >
      <div [ngClass]="ngClassArg('newDeaths')">NEW DEATHS</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.newDeaths | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalDeaths">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('totalDeaths')"
    >
      <div [ngClass]="ngClassArg('totalDeaths')">TOTAL DEATHS</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalDeaths | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="newRecovered">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('newRecovered')"
    >
      <div [ngClass]="ngClassArg('newRecovered')">NEW RECORD</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.newRecovered | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="totalRecovered">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      (click)="clickSort('totalRecovered')"
    >
      <div [ngClass]="ngClassArg('totalRecovered')">TOTAL RECORD</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.totalRecovered | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>
      <div class="header">DATE</div>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="header-row"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" class="mb-5"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[15, 50, 100]"
  showFirstLastButtons
></mat-paginator>

<mat-card *ngIf="!dataSource?.filteredData.length && !loading"
  ><h2>no records found.</h2></mat-card
>
